@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Anton&family=Antonio:wght@100;200;300;400;500;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*scrollbar section design*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 0;
}

/*universal section design*/

* {
    box-sizing: border-box;
}

body {
    background-color: #4784f7;
}

/*header section design*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    color: #fff;
    font-family: 'Antonio', sans-serif;
    z-index: 10001;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

nav .navlist {
    display: flex;
    align-items: center;
}

.navbar-logo a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.navbar-dropdown,
.navbar-dropdown a {
    color: #222;
}

nav .navbar-dropbtn {
    position: relative;
    background-color: inherit;
    border: none;
    outline: none;
    color: #fff;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.navbar-dropdown:hover .dropdown-content {
    display: block;
}

.navbar-dropdown:hover .navbar-dropbtn {
    letter-spacing: 3px;
}

nav .top-icons a {
    display: inline-flex;
    align-items: center;
    transition: .45s ease;
}

nav .top-icons .icons {
    padding: 10px;
}

nav .navbar-logo a {
    display: flex;
    align-items: center;
}

nav .top-icons .icons:hover {
    background-color: #5A38FD;
    border-radius: 30px;
    transform: scale(1.2);
}

section {
    padding: 120px 0;
}

/*hero section design*/

.home {
    padding: 100px 0 50px;
}

.home-content h1 {
    font-size: 7rem;
    font-family: 'Anton', sans-serif;
    color: #fff;
}

.home-content p {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

.home-content input {
    padding: 10px 3rem;
    border-radius: 30px;
    outline: none;
    box-shadow: none;
    border: none;
    font-family: 'Antonio', sans-serif;
}

.search-bar {
    width: 80%;
}

.home-content input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.home-content input::placeholder {
    font-family: 'Open Sans', sans-serif;
}

.search-bar {
    position: relative;
}

.search-bar .btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 280px;
    background-color: #5A38FD;
    color: #fff;
    border: none;
    outline: none;
    font-family: 'Antonio', sans-serif;
    transition: .3s ease;
}

.search-bar .btn:hover {
    background-color: #222;
    width: 400px;
}

.search-bar img {
    position: absolute;
    left: 14px;
    top: 50%;
    height: 60%;
    transform: translateY(-50%);
}

.home-content .social-media-icons {
    display: flex;
    justify-content: center;
}

.home-content .social-contents {
    background-color: #222;
    border-radius: 30px;
}

.home-content .social-media-icons a {
    padding: 10px 5px;
    cursor: pointer;
}

/*cta section design*/

.cta {
    position: relative;
    padding: 30px 0;
    background-color: #fff;
    background-image: url('assets/cta-bg.png');
    background-position: center;
    background-size: 10%;

}

.cta h2 {
    font-family: 'Anton', sans-serif;
    color: #5A38FD;
    font-size: 10rem;
    letter-spacing: 5px;
}


/*featured book section design*/
.featured-books {
    background: linear-gradient(to top, rgb(90, 56, 253), rgba(90, 56, 253, .1));
    padding: 40px 0;
}

.featured-books h2 {
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
}

.featured-books .featured-book-img {
    background-color: #222;
    cursor: pointer;
    transition: .3s ease;
}

.featured-books .featured-book-img .inner-block {
    background-color: #fff;
}


.featured-books .featured-book-img:hover {
    transform: translateY(-10px);
}

.featured-books .featured-book-img:hover img {
    filter: hue-rotate(90deg);
}

/*cta2 section design*/

.cta2 {
    position: relative;
    padding: 30px 0;
    background-color: #fff;
    background-image: url('assets/cta-bg.png');
    background-position: center;
    background-size: 10%;
}

.cta2 h3 {
    font-family: 'Anton', sans-serif;
    color: #5A38FD;
    font-size: 5rem;
}

.cta2 .btn {
    background-color: #222;
    font-family: 'Anton', sans-serif;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 30px;
    transition: .3s ease;
}

.cta2 .btn:hover {
    background-color: #5A38FD;
    width: 100%;
}

/*books section design*/

.books {
    padding: 40px 0;
    background-color: #5A38FD;
}


/*ratings section design*/

.ratings {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    height: 50vh;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-image: url('assets/cta-bg.png');
    background-position: center;
    background-size: 10%;
    display: flex;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
}

.swiper-slide>.container {
    border-radius: 30px;
}

@media (max-width: 760px) {
    .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
    }

    .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
    }
}

.swiper-slide .profile {
    padding: 2rem;
    box-shadow: 0px 8px 16px 0 rgba(90, 56, 253, 0.8);
    cursor: pointer;
    transition: .45s ease;
}

.swiper-slide .profile:hover {
    transform: translateY(-10px);
}

.swiper-slide .profile-info h3 {
    font-size: 1.5rem;
    font-family: 'Anton', sans-serif;
    display: flex;
    align-items: center;
    font-weight: 6000;
    color: #5A38FD;
}

.swiper-slide .profile-info h3 i {
    margin-left: 5px;
    color: rgb(18, 133, 248);
    font-size: 1.3rem;
}

.swiper-slide .profile-info span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #444;
}

.swiper-slide .profile-text {
    margin: 20px 0 0;
}

.swiper-slide .profile-text p {
    font-family: 'Open Sans', sans-serif;
    color: #444;
    font-weight: 300;
}

.swiper-slide .reactions a {
    display: inline-flex;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: .3s ease;
}

.swiper-slide .reactions a:hover {
    transform: scale(1.1);
    cursor: pointer;
}