@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Anton&family=Antonio:wght@100;200;300;400;500;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*scrollbar section design*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 0;
}

/*universal section design*/

* {
    box-sizing: border-box;
}

body {
    background-color: #4784f7;
}

body.change {
    background-color: #222;
}


/*header section design*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    color: #fff;
    font-family: 'Antonio', sans-serif;
    z-index: 10001;
    transition: .45s ease;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

nav .navlist {
    display: flex;
    align-items: center;
}

.navbar-logo a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}


nav .top-icons a {
    display: inline-flex;
    align-items: center;
    transition: .45s ease;
}

nav .top-icons .icons {
    padding: 10px;
}

nav .navbar-logo a {
    display: flex;
    align-items: center;
}

nav .top-icons .icons:hover {
    background-color: #5A38FD;
    border-radius: 30px;
    transform: scale(1.2);
}

.lightmode {
    cursor: pointer;
}


section {
    padding: 120px 0;
}

/*hero section design*/

.home {
    padding: 100px 0 50px;
}

.home-content h1 {
    font-size: 7rem;
    font-family: 'Anton', sans-serif;
    color: #fff;
}

.home-content p {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

.home-content input {
    padding: 10px 3rem;
    border-radius: 30px;
    outline: none;
    box-shadow: none;
    border: none;
    font-family: 'Antonio', sans-serif;
}

.search-bar {
    width: 80%;
}

.home-content input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.home-content input {
    font-family: 'Open Sans', sans-serif;
}

.home-content input::placeholder {
    font-family: 'Open Sans', sans-serif;
}

.search-bar {
    position: relative;
}

.search-bar .btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 30px;

    width: 230px;
    background-color: #5A38FD;
    color: #fff;
    border: none;
    outline: none;
    font-family: 'Antonio', sans-serif;
    transition: .3s ease;
}

.search-bar .btn:hover {
    background-color: #222;
}

.search-bar img {
    position: absolute;
    left: 14px;
    top: 50%;
    height: 60%;
    transform: translateY(-50%);
}



.home-content .social-media-icons {
    display: flex;
    justify-content: center;
}

.home-content .social-contents {
    background-color: #222;
    border-radius: 30px;
}

.home-content .social-media-icons a {
    padding: 10px 5px;
    cursor: pointer;
}

/*cta section design*/

.cta {
    position: relative;
    padding: 30px 0;
    background-color: #fff;
    background-image: url('assets/cta-bg.png');
    background-position: center;
    background-size: 10%;

}

.cta h2 {
    font-family: 'Anton', sans-serif;
    color: #5A38FD;
    font-size: 7rem;
    letter-spacing: 5px;
}

/*featured details section design*/

.featured-books {
    background: linear-gradient(to bottom, rgb(90, 56, 253), rgba(90, 56, 253, .1));
    padding: 40px 0;
}

.featured-books .row {
    margin-top: 3rem;
}

.featured-img,
.featured-book-img {
    background-color: #222;
    display: inline-block;
}

.featured-books h2 {
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    text-align: center;
}

.featured-img .innerblock,
.featured-book-img .innerblock {
    background-color: #fff;
}

.featured-book-img {
    position: relative;
    cursor: pointer;
    transition: .3s ease;
    margin-bottom: 1rem;
}

.featured-book-img .bookmark-icon {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 40px;
    transition: .3s ease;
}

.featured-book-img .bookmark-icon:hover {
    transform: scale(1.3);
}

.featured-book-img:hover {
    transform: translateY(-10px);
}

.featured-book-img:hover img {
    filter: hue-rotate(90deg);
}


/*booksdetails section design*/

.book-details {
    height: 100vh;
    overflow-x: scroll;
}

.books-img {

    display: inline-block;
    height: 100%;
    background-color: #222;
}


.books-img .innerblock {
    background-color: #fff;
}


.books-txt h1 {
    font-size: 3rem;
    font-family: 'Anton', sans-serif;
    color: yellow;
}

.books-txt .author,
.books-txt .publishDate,
.books-txt .genre,
.books-txt .summary {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.books-txt strong {
    font-size: 1rem;
    margin-right: 10px;
}

.book-details .btn-dark {
    width: 100%;
    border-radius: 0;
    border: none;
    background-color: #5A38FD;
}

.book-details .btn-dark i {
    font-size: 1.1rem;
}

.book-details .btn-dark:hover {
    background-color: #fff;
}

.book-details .btn-dark:hover i {
    color: #5A38FD;
}



/*cta2 section design*/

.cta2 {
    position: relative;
    padding: 30px 0;
    background-color: #fff;
    background-image: url('assets/cta-bg.png');
    background-position: center;
    background-size: 10%;
}

.cta2 h3 {
    font-family: 'Anton', sans-serif;
    color: #5A38FD;
    font-size: 5rem;
}

.cta2 .btn {
    background-color: #222;
    font-family: 'Anton', sans-serif;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 30px;
    transition: .3s ease;
}

.cta2 .btn:hover {
    background-color: #5A38FD;
    width: 100%;
}

/*books section design*/
/* 
.books {
    padding: 40px 0;
    background-color: red;
} */


/*ratings section design*/

.ratings {
    background-color: #f7f7f7;
    background: linear-gradient(rgba(90, 56, 253, .5), rgba(90, 56, 253, .9)), url('./assets/links-image.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    position: relative;
    height: 70vh;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.swiper-slide>.container {
    border-radius: 30px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff;
}

@media (max-width: 760px) {
    .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
    }

    .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
    }
}

.swiper-slide .profile {
    padding: 1rem;
    box-shadow: 0px 8px 16px 0 rgba(90, 56, 253, 0.8);
    cursor: pointer;
    transition: .45s ease;
    background-image: url('assets/cta-bg.png');
    background-position: center;
    background-size: 10%;
    background-color: #fff;
}

.swiper-slide .profile:hover {
    transform: translateY(-10px);
}

.swiper-slide .profile-info h5 {
    font-size: 1rem, ;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    font-weight: 500;
    line-height: 0;
    color: #5A38FD;

}

.swiper-slide .profile-info h5 i {
    color: rgb(18, 133, 248);
    font-size: 1.1rem;
    margin-left: 1px;
}

.swiper-slide .profile-info span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 16px;
}

.start-ratings {
    margin: 10px 0 10px;
}

.start-ratings i {
    margin-right: 2px;
    color: orange;
}

.swiper-slide .profile-text p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #222;
    text-align: start;

}

.swiper-slide .reactions a {
    display: inline-flex;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: .3s ease;
}

.swiper-slide .reactions .bx-heart {
    color: red;
}

.swiper-slide .reactions .bx-like,
.swiper-slide .reactions .bx-dislike {
    color: dodgerblue;
}

.swiper-slide .reactions a:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*links section design*/

.links {
    background-color: #5A38FD;
    padding: 10px;
}

.links a {
    padding: 5px;
    cursor: pointer;
}

.links a i {
    color: #fff;
    font-size: 1.2rem;
    transition: .3s ease;
}

.links a:hover i {
    transform: rotate(36deg);
}

.links span {
    color: #fff;
    font-family: 'Antonio', sans-serif;
    user-select: none;
}



/*categories section design*/

.categories {
    background-image: url('assets/cta-bg.png');
    background-position: center;
    background-size: 10%;
    background-color: #fff;
    height: 100%;
    padding: 100px 0;
}

.categories h1 {
    font-size: 7rem;
    font-family: 'Anton', sans-serif;
    color: #5A38FD;
}

.categories-content a {
    text-decoration: none;
    font-size: 1.2rem;


}

.categories-content a:hover {
    text-decoration: underline;
    letter-spacing: 2px;
}

/*accounts section design*/

.breadcrumb {
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
    background-color: #5A38FD;
    width: 100%;
    color: #ddd;
    font-family: 'Antonio', sans-serif;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
    user-select: none;
}

.breadcrumb a {
    color: #fff;
    text-decoration: none;
}

.breadcrumb i {
    font-size: 1.2rem;
}

.book-breadcrumb {
    left: 0;
    top: 0px;
    position: fixed;
    z-index: 1000;
    background-color: #5A38FD;
    width: 100%;
    color: #ddd;
    font-family: 'Antonio', sans-serif;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
    user-select: none;
}

.book-breadcrumb a {
    color: #fff;
    text-decoration: none;
}

.book-breadcrumb i {
    font-size: 1.2rem;
}


.accounts {
    padding: 100px 0 50px;
    background-image: url('assets/cta-bg.png');
    background-position: center;
    background-size: 10%;
    background-color: #fff;
    height: 100%;
}


.main-content h1 {
    font-family: 'Anton', sans-serif;
    font-size: 6rem;
    color: #5A38FD;
}


.main-content img {
    cursor: pointer;

}



.accounts-content h3 {
    color: #fff;
    font-family: 'Anton', sans-serif;
}

.accounts-content label {
    display: block;
}

.accounts-content input[type='name'] {
    outline: none;
    box-shadow: none;
    border-radius: 0;
    margin: 10px 0;
    padding: 14px;
    box-shadow: 0px 8px 16px 0 rgba(90, 56, 253, .5);
}

.accounts-content input[type='email'] {
    outline: none;
    box-shadow: none;
    border-radius: 0;
    margin: 10px 0;
    padding: 14px;
    box-shadow: 0px 8px 16px 0 rgba(90, 56, 253, .5);
}

.accounts-content input[type='password'] {
    outline: none;
    box-shadow: none;
    border-radius: 0;
    margin: 10px 0;
    padding: 14px;
    box-shadow: 0px 8px 16px 0 rgba(90, 56, 253, .5);
}

.accounts-content .col-md-6 {
    padding: 2rem;
    background-color: #5A38FD;
}

.accounts-content .col-md-6 span {
    color: #fff;
    cursor: pointer;
    font-weight: 500;
}

.accounts-content .col-md-6 span:hover {
    text-decoration: underline;
}

.accounts-content .col-md-6 .rememberMe,
.accounts-content .col-md-6 .acceptTC {
    margin: 10px 0 5px
}



.accounts-content .col-md-6 .rememberMe span,
.accounts-content .col-md-6 .acceptTC span {
    font-weight: 400;
}

.accounts-content .col-md-6 .acceptTC span a {
    color: #fff;
    text-decoration: none;
}

.accounts-content .col-md-6 .acceptTC span a:hover {
    text-decoration: underline;
}

.accounts-content .col-md-6 .rememberMe span:hover,
.accounts-content .col-md-6 .acceptTC span:hover {
    text-decoration: none;
}

.accounts-content input[type='text']::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.accounts-content .col-md-6 .btn {
    background-color: #fff;
    color: #5A38FD;
    border-radius: 0;
    width: 100px;
    border: none;
    outline: none;
    transition: .3s ease;
}

.accounts-content .col-md-6 .btn:hover {
    width: 140px;
}

.accounts-content .col-md-6 p,
.accounts-content .col-md-6 p a {
    color: #fff;
}

.accounts-content .col-md-6 p a {
    font-weight: 500;
    text-decoration: none;
}

.accounts-content .col-md-6 p a:hover {
    text-decoration: underline;
}


/*contact section design*/

.contact {
    padding: 100px 0 10px;
    background-image: url('assets/cta-bg.png');
    background-position: center;
    background-size: 10%;
    background-color: #fff;
    height: 100%;
}



.contact .contact-row {
    position: relative;
}

.contact .contact-form {

    background-color: #fff;
    padding: 2rem;
    box-shadow: 0px 5px 16px 0 rgba(90, 56, 253, .9);
}

.contact .contact-form h2 {
    color: #5A38FD;
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
}

.contact-row .row {
    background-color: rgb(90, 56, 253);
    padding: 1rem;
}

.contact-row .row .col-md-6 {
    color: #fff;
}

.infoOne,
.infoTwo,
.infoThree {
    margin: 20px 0;
}

.contact-row .row .col-md-6 h3 {
    font-family: 'Anton', sans-serif;
}

.contact-row .row .col-md-6 span {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.contact-form input[type='text'],
.contact-form textarea {
    border: none;
    border-bottom: 2px solid #222 !important;
    outline: none;
    border-radius: 0;
    padding: 1rem;
    margin-bottom: 10px;
}


.contact-form input[type='text']:focus,
.contact-form textarea:focus {
    outline: none;
    box-shadow: none;

}

.contact-form input[type='text']::placeholder,
.contact-form textarea::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.contact-form .btn {
    border: none;
    border-radius: 30px;
    width: 100%;
    font-family: 'Antonio', sans-serif;
    transition: .3s ease;
}

.contact-form .btn:hover {
    background-color: #5A38FD;

}

/*bookmarks section design*/

.bookmarks {
    background-image: url('assets/cta-bg.png');
    background-position: center;
    background-size: 10%;
    background-color: #fff;
    height: 95vh;
}


.bookmarks input {
    padding: 10px 3rem;
    border-radius: 30px;
    outline: none;
    box-shadow: none;
    border: none;
    font-family: 'Antonio', sans-serif;
}

.bookmarks #bmButtons {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 280px;
    background-color: #5A38FD;
    color: #fff;
    border: none;
    outline: none;
    font-family: 'Antonio', sans-serif;
    transition: .3s ease;
    z-index: 1000;
}

.bookmarks #searchButton {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 280px;
    background-color: #5A38FD;
    color: #fff;
    border: none;
    outline: none;
    font-family: 'Antonio', sans-serif;
    transition: .3s ease;
    z-index: 1000;
}

.bookmarks #searchButton:hover {
    background-color: #222;
    width: 400px;
}

.bookmarks #clearSearch {
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 30px;
    width: 280px;
    background-color: #5A38FD;
    color: #fff;
    border: none;
    outline: none;
    font-family: 'Antonio', sans-serif;
    transition: .3s ease;
    z-index: 1000;
}

.bookmarks #clearSearch:hover {
    background-color: #222;
    width: 400px;
}

.bookmarks #bmButton {
    border-radius: 30px;
    width: 100px;
    background-color: #222;
    color: #fff;
    border: none;
    outline: none;
    font-family: 'Antonio', sans-serif;
    transition: .3s ease;
}

.bookmarks #bmButton:hover {
    background-color: #5A38FD;
    height: 40px;
}

.bookmarks #clrButton {
    border-radius: 30px;
    width: 100px;
    background-color: #8054c5;
    color: #222;
    border: none;
    outline: none;
    font-family: 'Antonio', sans-serif;
    transition: .3s ease;
}

.bookmarks h2 {
    font-family: 'Anton', sans-serif;
    color: #222;
    margin-block-end: auto;
}

/*pagination section*/

.pagination .page-link {
    background-color: #222;
    padding: 10px 1rem;
    border: 1px solid #fff;
    color: #fff;
    transition: .3s ease;
}

.pagination .page-link:hover {
    background-color: #5A38FD;
}

/*responsiveness*/

@media screen and (max-width: 984px) {

    /*hero section design*/

    .home {
        padding: 100px 0 20px;
    }

    .home-content h1 {
        font-size: 4rem;
    }

    .home-content #home-img img {
        width: 400px;
    }

    .search-bar .btn {
        width: 200px;
    }

    /*cta section design*/

    .cta h2 {
        font-size: 5rem;
    }

}

@media screen and (max-width: 767px) {

    /*hero section design*/

    .search-bar {
        width: 100%;
    }

    .search-bar .btn {
        width: 90px;
    }

    /*navbar section design*/

    nav .navbar-logo {
        display: none;
    }

    /*ratings section design*/

    .ratings {
        height: 90vh;
    }

}

/*not found section design*/

.notFound {
    height: 95vh;
}

.notFound h3 {
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 5rem;
}